html {
	padding: 10px 20px;
	background-color: #ffffc9;
}

body {
	margin: 0px;
	padding: 5px;
}

body * {
	font-family: Raleway, sans-serif;
}

body > *, #accs > *, #timeline > *{
	margin-bottom: 20px;
}

#title {
	display: inline-block;
	margin-bottom: 13px;
}

#title h1 {
	font-family: Poppins, sans-serif;
	font-weight: 600;
	font-size: 55px;
	margin: 0px;
	color: #1780aa;
}

#sign-in {
	float: right;
	position: relative;
	top: 5px;
}

#sign-in > * { float: left; }

#logout-btn {
	float: right;
/* 	display: auto; */
	color: rgb(143, 55, 55);
	background-color: rgb(247, 148, 148);
}

#logout-btn:hover {
	background-color: rgb(158, 78, 78);
	color: rgb(78, 23, 23);
	cursor: pointer;
}

#signed-in * {	vertical-align: middle; }

#user-pic {
	padding: 0px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

#no-accs { color: rgb(163, 45, 45); }

#flip-page {
	display: inline-block;
	padding: 0px;
	margin-bottom: 17px;
}

#flip-page > * {
	margin-right: 14px;
}

.flip {	width: 60px; height: 40px; }

.result {
	max-width: 1712px; /* each row contains 8 videos */
	display: inline-block; /* to wrap video elements */
	padding: 7px;
	margin-bottom: 15px;
	background-color: #a8e5ff;
	border-radius: 10px;
	color: #638897;
	overflow: hidden;
}

.acc_header {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.acc_header > * {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 7px;
	border-radius: 5px;
}

.acc_header h2 { margin: 5px; }

.acc_header img, .collapse {
	width: 40px;
	height: 40px;
}

video {
	display: inline-block;
	padding: 0px;
	border-radius: 10px;
	margin: 7px;
	object-fit: cover;
	cursor: auto;
}

video:fullscreen { object-fit: contain; }

.big-button, .manipulator, .nonclickable { display: inline-block; }

.big-button, .nonclickable {
  color: #638897;
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

.big-button:hover, .manipulator:hover {	cursor: pointer; }

.big-button {
	background-color: #a8e5ff;
	padding: 13px 22px;
}

.big-button:hover {
	background-color: #3391b9;
	color: #174153;
}

.manipulator {
	background-color: #638897;
	color: #ffffc9;
	font-weight: bold;
	text-align: center;
  border-radius: 7px;
}
.manipulator:hover { background-color: #174153; }

.nonclickable {
	padding: 10px 19px;
	font-size: 20px;
	font-weight: bold;
	border-style: solid;
	border-width: 3px;
}

#tabs {
	margin-left: 800px;
}

#tabs * {
	width: 100px;
	padding: 15px;
}

#tab-timeline {
	border-radius: 10px 0px 0px 10px;
}

#tab-accs {
	border-radius: 0px 10px 10px 0px;
}
